.cabecalho {
    display: flex;
    justify-content: space-between;

    padding: 1.5rem;

    position: relative;
}

.cabecalho .link__logo {
    width: 80px;
    height: auto;
}

.escuro {
    width: 100vw;
    height: 100vh;

    position: absolute;
    left: 0;
    top: 0;

    opacity: .5;

    background-color: var(--preto); 
}

.cabecalho__menuHamburguer {
    width: 35px;
    height: 20px;

    background: url("../../img/icon-menu.svg") no-repeat;
    background-position: center;
    background-size: contain;
}